@import "mixins";
@import "var/breakpoints";
@import "var/colors";
@import "var/fonts";

@media only screen {
    html,body{
        width: 100%;
        text-rendering: optimizeLegibility !important;
        @include font-smoothing(true);
    }
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        box-sizing: border-box;
        outline-width: 0;
        &:focus{
            outline-width: 0;
        }
    }
    html{
        font-size: 62.5%; // base 10 for fonts
        font-family: 'Helvetica', sans-serif;
        height: 100%;
        box-sizing: border-box;
    }
    body{
        font-size: 1.6rem;
        min-height: 100%;
        position: relative;
        box-sizing: inherit;
        font-family: 'Helvetica', sans-serif;
    }
    // Prevents oversized images from breaking layout
    img {
        max-width: 100%;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    p {
        margin-bottom: 12px;
    }

    ul, ol {
        padding-left: 24px;
        margin-bottom: 12px;
        margin-top: 0;
        line-height: 24px;
    }
}